#sliderContainer{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: 40% 20% 1fr 10% 1fr;
  justify-content: center;
  align-items: center;
}
#imgC{
  grid-column: 1/4;
  grid-row: 1/6;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  animation: 1.5s enter;
  -webkit-animation: 1.5s enter;
  -moz-animation: 1.5s enter;
  -o-animation: 1.5s enter;
}
#black{
  grid-column: 1/4;
  grid-row: 1/6;
  height: 100vh;
  width: 100%;
  background-color: #fff6;
  z-index: 1;
}
#place{
  grid-column: 1/4;
  grid-row: 2;
  text-transform: uppercase;
  color: #000;
  border-width: 10px 0;
  border-style: solid;
  border-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  text-shadow: 1px 1px 10px #000;
  margin: 0;
  z-index: 2;
  @media screen and (max-height: 420px) and (max-width: 420px){
    font-size: 1em;
    border-width: 5px 0;
  }
  @media screen and (max-height: 615px) and (max-width: 625px) and (min-height: 421px) and (min-width: 421px){
    font-size: 2em;
  }
  @media screen and (max-width: 1139px) and (min-height: 616px){
    font-size: 3em;
  }
  @media screen and (min-width: 1140px) and (min-height: 616px){
    font-size: 5em;
  }
}

#btnConocenos{
  grid-row: 4;
  grid-column: 2;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 300px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  background-color: transparent;
  font-weight: 900;
  font-size: 1.5em;
  min-width: 120px;
  min-height: 30px;
  z-index: 3;
  @media screen and (max-height: 450px){
    font-size: 1em;
  }
  @media screen and (max-width: 805px){
    font-size: 1em;
  }
}

#fullPlace{
  font-size: 3em;
  margin: 40px 0 0 10%;
  max-width: 80%;
  font-weight: 600;
  height: fit-content;
  text-align: center;
  @media screen and (max-width: 1080px){
    font-size: 2.5em;
  }
  @media screen and (max-width: 850px){
    font-size: 2em;
  }
  @media screen and (max-width: 700px){
    font-size: 1.5em;
  }
  @media screen and (max-width: 525px){
    font-size: 1.2em;
  }
}
#descContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  margin-top: 20px;
  @media screen and (max-width: 620px){
    justify-content: center;
  }
}
#descContainer > p {
  width: fit-content;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 45%;
  margin: 0;
  @media screen and (max-width: 644px){
    max-width: 90%
  }
}
#descContainer > p > i{
  font-size: 1.3em;
  color: #05b;
  margin: 10px 0;
  text-align: center;
}
.question{
  min-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}
.question > span{
  font-size: 1.5em;
  font-weight: 600;
  margin: 30px 0;
  padding: 0 5px;
  text-align: center;

}
.question > button{
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  font-size: 1em;
  margin-bottom: 30px;
}

#viewProcedures{
  margin-top: 20px;
  min-height: 260px;
  width: 100%;
  background: url("https://wwwassets.rand.org/content/rand/education-and-labor/projects/american-worker/jcr:content/par/herotitle.aspectfit.0x0.jpg/1503946540882.jpg") center/cover, #fff7;
  background-blend-mode: lighten;
}
#viewProcedures > span {
  width: fit-content;
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 2em;
  font-weight: 600;
}

#procedureContainer{
  border-radius: 5px;
  border: 1px solid #000;
  width: fit-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#procedureContainer > div{
  font-weight: 600;
  width: 100%;
}
#procedureContainer > div > p{
  border-bottom: 1px solid #000;
  margin: 0;
  text-align: center;
  position: relative;
  font-size: 1.3em;
  @media screen and (max-width: 450px){
    font-size: 1.1em;
  }
  @media screen and (max-width: 570px){
    padding: 0 22px;
  }
}
#procedureContainer > div > p > button {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  border: none;
  background-color: #000;
  color: #fff;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#informationContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#partOneIC{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#partOneIC > div{
  max-width: 50%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.infoCard{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;

}
.infoCard > img{
  width: 60px;
}
.infoCard > p{
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
#map{
  width: 50%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  @media screen and (max-width: 644px){
    width: 100%;
  }
}
#partTwoIC{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  @media screen and (max-width: 701px){
    justify-content: space-around;
  }
}
#partTwoIC > .infoCard{
  @media screen and (max-width: 725px){
    width: 100%;
    justify-content: center;
    max-width: 300px;
  }
}
#partTwoIC > .infoCard > p{
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
}
#partTwoIC > .question{
  min-width: 50%;
  width: 50%;
  @media screen and (max-width: 644px){
    min-width: 45%;
    width: auto;
  }
}

@keyframes enter{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
