@import '../../variables.scss';

#sliderContainer{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: 40% 20% 1fr 10% 1fr;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
#imgC{
  grid-column: 1/4;
  grid-row: 1/6;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  animation: 1.5s enter;
  -webkit-animation: 1.5s enter;
  -moz-animation: 1.5s enter;
  -o-animation: 1.5s enter;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
.white{
  grid-column: 1/4;
  grid-row: 1/6;
  height: 100vh;
  width: 100%;
  background-color: #fff6;
  z-index: 1;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
.place{
  grid-column: 1/4;
  grid-row: 2;
  text-transform: uppercase;
  color: $black;
  border-width: 10px 0;
  border-style: solid;
  border-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  text-shadow: 1px 1px 10px $black;
  margin: 0;
  z-index: 2;
  @media screen and (max-height: 420px) and (max-width: 420px){
    padding: 5vh 0;
    font-size: 1em;
    border-width: 5px 0;
  }
  @media screen and (max-height: 615px) and (max-width: 625px) and (min-height: 421px) and (min-width: 421px){
    font-size: 2em;
  }
  @media screen and (max-width: 1139px) and (min-height: 616px){
    font-size: 3em;
  }
  @media screen and (min-width: 1140px) and (min-height: 616px){
    font-size: 5em;
  }
}

#btnConocenos{
  cursor: pointer;
  grid-row: 4;
  grid-column: 2;
  display: block;
  margin: auto;
  width: 100%;
  height: 8vh;
  max-width: 300px;
  border: 3px solid $white;
  border-radius: 10px;
  color: $white;
  background-color: transparent;
  font-weight: 900;
  font-size: 2em;
  min-width: 120px;
  min-height: 30px;
  z-index: 3;
  box-shadow: 5px 5px 10px 0 rgba($color:$black, $alpha: 0.25);
  @media screen and (max-width: 805px){
    font-size: 1.1em;
    text-transform: uppercase;
  }
  &:hover > .aboutContainer{
    transform: translateY(-100vh);
  }
}

.fullPlace{
  font-size: 3em;
  margin: 40px 0 0 0;
  max-width: 100%;
  font-weight: 600;
  height: fit-content;
  text-align: center;
  @media screen and (max-width: 1080px){
    font-size: 2.5em;
  }
  @media screen and (max-width: 850px){
    font-size: 2em;
  }
  @media screen and (max-width: 700px){
    font-size: 1.5em;
  }
  @media screen and (max-width: 525px){
    font-size: 1.5em;
    margin-top: 40px;
    margin-left: 0;
  }
}

.aboutContainer{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 10vw;
  transition: transform 0.6s ease-in-out;
}

.descContainerHome{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  margin-top: 20px;
  @media screen and (max-width: 620px){
    justify-content: center;
  }
}
.descContainerHome > p {
  width: fit-content;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 45%;
  margin: 0;
  font-size: 1.2em;
  @media screen and (max-width: 644px){
    max-width: 80%;
  }
}
.descContainerHome > p > i{
  cursor: pointer;
  font-size: 1.3em;
  color: $primary;
  margin: 20px 0;
  font-weight: 700;
  text-align: center;
  transition: 0.5s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

.image-mobile{
  margin: 5vh 0;
  display: none;
  width: 125%;
  height: 100%;
  @media screen and(max-width: 525px) {
    display: block;
  }
  @media screen and(min-width: 525px) {
    display: none;
  }
}

.question{
  min-width: 30%;
  max-width: 30%;
  display: flex;
  margin-left: 15% !important;
  height: 100%;
  border-radius: 10px;
  padding: 50px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $black;
  @media screen and (max-width: 747px){
    max-width: 40%;
    min-width: 40%;
    margin-left: 5% !important;
  }
  @media screen and (max-width: 644px){
    padding: 20px;
    max-width: 80%;
    min-width: 80%;
    margin-left: 0% !important;
  }
}
.question > span{
  font-size: 1.5em;
  font-weight: 600;
  margin: 30px 0;
  padding: 0 5px;
  text-align: center;
  @media screen and (max-width: 644px){
    margin: 20px 0;
  }


}
.question > button{
  cursor: pointer;
  border-radius: 10px;
  color: $white;
  background-color: $black;
  padding: 10px 20px;
  font-size: 1.2em;
  @media screen and (max-width: 644px){
    padding: 10px 25px;
  }
}

#viewProcedures{
  margin-top: 20px;
  min-height: 260px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../static/img/procedures-desktop.jpg") center/cover, #fff7;
  background-blend-mode: lighten;
  @media screen and (max-width:664px){
    background: url("../../static/img/procedures-mobile.jpg") center/cover, #fff7;
  }
}
#viewProcedures > span {
  width: fit-content;
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 2em;
  font-weight: 600;
}

#procedureContainer{
  width: fit-content;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#procedureContainer > div{
  font-weight: 600;
  width: 100%;
  //min-height: 20%;
}
#procedureContainer > div > p{
  border: 1px solid $black;
  margin: 0;
  text-align: center;
  position: relative;
  font-size: 1.5em;
  @media screen and (max-width: 450px){
    font-size: 1.1em;
  }
  @media screen and (max-width: 570px){
    padding: 0 22px;
  }
}
#firstProcedure{
  border-radius: 10px 10px 0 0;
}
#lastProcedure{
  border-radius: 0 0 10px 10px;
}
#procedureContainer > div > p > img {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#procedureD{
  @media screen and (max-width: 714px){
    display: none;
  }
}
#procedureCV{
   @media screen and (max-width: 534px){
     display: none;
   }
}

.optionsProcedures{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border: 1px solid $black;
}
.optionsProcedures > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $black;
  border-radius: 50%;
  min-height: 150px;
  min-width: 150px;
}
.optionsProcedures > div > p{
  color: $white;
  font-size: 1.3em;
  text-align: center;
  margin: 0 0 5px 0;
  max-width: 80%;
}
.optionsProcedures > div > img{
  width: 50px;
}
.optionsProcedures > img{
  width: 40px;
  margin: 0 5px;
}
#partOneIC{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin: 1px 0 45px 0;

  iframe {
    //margin-left: 1vw;
    //margin-right: 1vw;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    margin-top: 5vh;
    border: 0;
    @media screen and (max-width: 600px) {
      width: 100%;
      margin-bottom: 5vh
    }
  }
}
#partOneIC > div{
  max-width: 45%;
  min-width: 45%;
  height: 300px;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 644px){
    min-width: 90%;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.infoCard{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}
.infoCard > img{
  width: 60px;
  @media screen and (max-width:644px){
    width: 45px;
  }
}
.infoCard > p{
  margin: 0 50px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  @media screen and (max-width: 864px){
    font-size: 0.9em;
    letter-spacing: none;
    margin: 0 0 0 25px;
  }
}
#map{
  width: 50%;
  max-height: 380px;
  object-fit: cover;
  object-position: center;
  @media screen and (max-width: 644px){
    width: 100%;
  }
}
#partTwoIC{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  //position: relative;
  width: 100%;
  margin-bottom: 15px;
  @media screen and (max-width: 644px){
    justify-content: space-around;
  }
}
#partTwoIC > .infoCard{
  min-width: 40%;
  max-width: 40%;
  //position: absolute;
  left: 0;
  width: 40%;
  margin: 0 5% 0 0;
  @media screen and (max-width: 644px){
    min-width: 90%;
    max-width: 90%;
    display: flex;
    padding-right: 5%;
    margin-right: 0;
    //margin: auto;
  }

  img {
    @media screen and (max-width: 664px){
      width: 45px;
    }
  }

}
#partTwoIC > .infoCard > p{
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  margin: 0 0 0 50px;
  text-align: justify;
  @media screen and (max-width: 864px){
    font-size: 0.9em;
    letter-spacing: none;
    margin: 0 0 0 25px;
  }
}
.division{
  height: 30vh;
  margin: 0 0 0 0;
  margin-right: 10%;
  border: 1px solid #bbb;
  @media screen and (max-width: 644px){
    display: none;
  }

}
#partTwoIC > .question{
  margin-left: 0 !important;
  margin-right: 5% !important;
  min-width: 30%;
  max-width: 30%;
  //margin-left: 10%;
  //margin-right: 10%;
  padding: 30px 0;
  @media screen and (max-width: 644px){
    margin-top: 5vh;
    min-width: 80%;
    max-width: 80%;
    margin-left: 5%;
    padding: 20px;
  }
}

@keyframes enter{
  to{
    opacity: 0;
  }from{
    opacity: 1;
  }
}
