@import '../../variables.scss';

#sliderContainer{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: 40% 20% 1fr 10% 1fr;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
#imgC{
  grid-column: 1/4;
  grid-row: 1/6;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /*animation: 1.5s enter;
  -webkit-animation: 1.5s enter;
  -moz-animation: 1.5s enter;
  -o-animation: 1.5s enter;*/
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
.oneImage{
  animation: otherEnter 2s;
  -webkit-animation: otherEnter 2s;
  -moz-animation: otherEnter 2s;
  -o-animation: otherEnter 2s;
  @keyframes otherEnter{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }
  @-webkit-keyframes otherEnter{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }
  @-moz-keyframes otherEnter{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }
  @-o-keyframes otherEnter{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }
}
.otherImage{
  animation: enter 2s;
  -webkit-animation: enter 2s ;
  -moz-animation: enter 2s;
  -o-animation: enter 2s;
}
.white{
  grid-column: 1/4;
  grid-row: 1/6;
  height: 100vh;
  width: 100%;
  background-color: #fff6;
  z-index: 1;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
.place{
  grid-column: 1/4;
  grid-row: 2;
  text-transform: uppercase;
  color: $black;
  border-width: 15px 0;
  border-style: solid;
  border-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  text-shadow: 1px 1px 5px $black;
  margin: 0;
  z-index: 2;
  padding: 5px 0;
  @media screen and (max-height: 420px) and (max-width: 420px){
    padding: 5vh 0;
    font-size: 1em;
    border-width: 10px 0;
  }
  @media screen and (max-height: 615px) and (max-width: 625px) and (min-height: 421px) and (min-width: 421px){
    font-size: 2em;
  }
  @media screen and (max-width: 1139px) and (min-height: 616px){
    font-size: 3em;
  }
  @media screen and (min-width: 1140px) and (min-height: 616px){
    font-size: 5em;
  }
}

#btnConocenos{
  cursor: pointer;
  grid-row: 4;
  grid-column: 2;
  display: block;
  margin: auto;
  width: 100%;
  height: 8vh;
  max-width: 300px;
  border: 3px solid $white;
  border-radius: 10px;
  color: $white;
  background-color: transparent;
  font-weight: 900;
  font-size: 2em;
  min-width: 120px;
  min-height: 30px;
  z-index: 3;
  box-shadow: 5px 5px 10px 0 rgba($color:$black, $alpha: 0.25);
  @media screen and (max-width: 805px){
    font-size: 1.1em;
    text-transform: uppercase;
  }
  &:hover > .aboutContainer{
    transform: translateY(-100vh);
  }
}

.fullPlace{
  font-size: 3em;
  margin: 40px 0 0 0;
  max-width: 100%;
  font-weight: 600;
  height: fit-content;
  text-align: center;
  @media screen and (max-width: 1080px){
    font-size: 2.5em;
  }
  @media screen and (max-width: 850px){
    font-size: 2em;
  }
  @media screen and (max-width: 700px){
    font-size: 1.5em;
  }
  @media screen and (max-width: 525px){
    font-size: 1.5em;
    margin-top: 40px;
    margin-left: 0;
  }
}

.aboutContainer{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 10vw;
  transition: transform 0.6s ease-in-out;
}

.descContainerHome{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  margin-top: 20px;
  @media screen and (max-width: 620px){
    justify-content: center;
  }
}
.descContainerHome > p {
  width: fit-content;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 45%;
  margin: 0;
  font-size: 1.2em;
  @media screen and (max-width: 644px){
    max-width: 80%;
  }
}
.descContainerHome > p > i{
  cursor: pointer;
  font-size: 1.3em;
  color: $primary;
  margin: 20px 0;
  font-weight: 700;
  text-align: center;
  transition: 0.5s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

.image-mobile{
  margin: 5vh 0;
  display: none;
  width: 125%;
  height: 100%;
  @media screen and(max-width: 525px) {
    display: block;
  }
  @media screen and(min-width: 525px) {
    display: none;
  }
}

.question{
  min-width: 30%;
  max-width: 30%;
  display: flex;
  margin-left: 15% !important;
  height: 100%;
  border-radius: 10px;
  padding: 50px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $black;
  @media screen and (max-width: 747px){
    max-width: 40%;
    min-width: 40%;
    margin-left: 5% !important;
  }
  @media screen and (max-width: 644px){
    padding: 20px;
    max-width: 80%;
    min-width: 80%;
    margin-left: 0% !important;
    margin-bottom: 5vh;
  }
}
.question > span{
  font-size: 1.5em;
  font-weight: 600;
  margin: 30px 0;
  padding: 0 5px;
  text-align: center;
  @media screen and (max-width: 644px){
    margin: 20px 0;
  }


}
.question > .link > button{
  cursor: pointer;
  border-radius: 10px;
  color: $white;
  background-color: $black;
  padding: 10px 20px;
  font-size: 1.2em;
  @media screen and (max-width: 644px){
    padding: 10px 25px;
  }
}
//Service Part Start

#viewProcedures{
  min-height: 100vh;
  position: relative;
  background: url("../../static/img/procedures-desktop.jpg") center/cover, #bbb9;
  //display: flex;
  background-blend-mode: lighten;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px){
    background: url("../../static/img/procedures-mobile.jpg") center/cover, #bbb9;
  }
  #titleProcedures{
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 10vh 0;
    font-weight: 600;
  }
  .proceduresContainer{
    @media screen and (max-width: 720px){
      display: none;
    }
    margin: 5% 0 0 0;
    /*background-color: #fffb;*/
    width: 80%;
    //max-width: 100vw;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .service{
      min-width: 140px;
      min-height: 140px;
      width: 11vw;
      background-color: #403c3c;
      -webkit-box-shadow: 0 0 10px 0.5px #0007;
      height: 11vw;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      transition-duration: 0.1s; 

      &:hover{
        @media screen and (min-width: 720px){
          transform: scale(1.1);
        }
      }

      .serviceTitle{
        margin: 0 10%;
        width: fit-content;
        color: #ebedfa;
        text-align: center;
        font-size: 1.2em;
        @media screen and (max-width: 880px){
          font-size: 1.1em;
        }
      }
    }
  }

  .otherContainerOp{
    background-color: #bbb0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    height: 100px;
    width: 80%;
    margin: 0 10%;

    @media screen and (max-width: 1013px){
      width: 90%;
      margin: 0 5%;
    }
    @media screen and (max-width: 752px){
      width: 100%;
      margin: 0;
    }

    .arrowContainer{
      min-width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        max-width: 40px;
      }
    }
  }
  .op{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100px;
    width: 80%;
  }
  .optionService{
    font-size: 1.5em;
    font-weight: 900;
    text-decoration: underline;
    text-align: center;
    width: 30%;
    @media screen and (max-width: 1013px){
      font-size: 1.3em;
    }
    @media screen and (max-width: 880px){
      font-size: 1.1em;
    }
  }
}

.seeArrow{
  animation: seeArrow 0.3s;
  @keyframes seeArrow {
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }
}
.notSeeArrow{
  animation: notSeeArrow 0.3s;
  @keyframes notSeeArrow {
    from{
      opacity: 1;
    }to{
      opacity: 0;
    }
  }
}

.titleSelectStart{
  animation: toChangeTitle 0.5s;
  @keyframes toChangeTitle {
    0%{
      color: #ebedfa;
    }100%{
      color: #000;
    }
  }
}
.titleSelectEnd{
  animation: toOriginalTitle 0.5s;
  @keyframes toOriginalTitle {
    0%{
      color: #000;
    }100%{
      color: #ebedfa;
    }
  }
}
@keyframes NaNRight{
  0%{
    opacity: 1;
    transform: translate(0);
  }50%{
    opacity: 0;
    transform: translate(40px);
  }100%{
    opacity: 0;
    transform: translate(40px);
  }
}
@keyframes NaNLeft{
  0%{
    opacity: 1;
    transform: translate(0);
  }50%{
    opacity: 0;
    transform: translate(-40px);
  }100%{
    opacity: 0;
    transform: translate(-40px);
  }
}

@keyframes orRight{
  0%{
    opacity: 0;
    transform: translate(-40px);
  }100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes orLeft{
  0%{
    opacity: 0;
    transform: translate(40px);
  }100%{
    opacity: 1;
    transform: translate(0);
  }
}

.estar{
  animation: aparecer 0.5s;
  @keyframes aparecer{
    0%{
      height: 0;
    }100%{
      height: 100px;
    }
  }
}
.noEstar{
  animation: aparecerNo 0.5s;
  @keyframes aparecerNo{
    0%{
      height: 100px;
      opacity: 1;
    }100%{
      height: 0;
      opacity: 0;
    }
  }
}

.noneLeft{
 animation: NaNLeft 1s;
}
.noneRight{
  animation: NaNRight 1s;
}
.flexLeft{
  animation: orRight 0.5s;
}
.flexRight{
 animation: orLeft 0.5s;
}

#blackService3,#blackService4{
  @media screen and (max-width: 1009px){
    display: none !important;
  }
}
.arrowTopContainer{
  min-width: 40px;
  @media screen and (min-width: 1010px){
    display:none;
  } 
}
.arrowsTop{
  max-width: 40px;
  @media screen and (min-width: 1010px){
    display: none !important;
  } 
}

.proceduresMobile{
  @media screen and (min-width: 721px){
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 20% 0 calc(20% - 10px);
  background: #fff8;
  border-radius: 10px;
  padding: 10px;
  .serviceMobile{
    min-width: 100px;
    min-height: 100px;
    width: 35vw;
    height: 35vw;
    background-color: #403c3c;
    -webkit-box-shadow: 0 0 10px 0.5px #0007;
    margin-bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    p{
      margin: 0 10%;
      width: fit-content;
      color: #ebedfa;
      text-align: center;
      font-size: 1.4em;
    }
  }
  .arrowContainerMobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    border-radius: 10px 10px 0 0;
    img{
      border-radius: 50%;
      width: 7vw;
      background: #403c3c;
      padding: 5px;
    }
  }
  .borderDivMobile{
    width: 100%;
    border: 1px solid #000;
    padding: 3px;
    max-height: 23vh;
    min-height: 23vh;
  }
  .servicesContainerMobile{
    width: 100%;
    max-height: 23vh;
    min-height: 23vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    p{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
      font-weight: 900;
      margin: 5px 0;
      width: fit-content;
      width: 100%;
      border-bottom: 1px solid #000;
    }
  }
}

//Service Part End
#partOneIC{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin: 1px 0 45px 0;

  iframe {
    //margin-left: 1vw;
    //margin-right: 1vw;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    margin-top: 5vh;
    border: 0;
    @media screen and (max-width: 720px) {
      width: 100%;
      margin-bottom: 5vh;
    }
  }
}
#partOneIC > div{
  max-width: 45%;
  min-width: 45%;
  height: 300px;
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 644px){
    min-width: 90%;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.infoCard{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}
.infoCard > img{
  width: 60px;
  @media screen and (max-width:644px){
    width: 45px;
  }
}
.infoCard > p{
  margin: 0 50px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  @media screen and (max-width: 864px){
    font-size: 0.9em;
    letter-spacing: none;
    margin: 0 0 0 25px;
  }
}
#map{
  width: 50%;
  max-height: 380px;
  object-fit: cover;
  object-position: center;
  @media screen and (max-width: 644px){
    width: 100%;
  }
}
#partTwoIC{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  //position: relative;
  width: 100%;
  margin-bottom: 15px;
  @media screen and (max-width: 644px){
    justify-content: space-around;
  }
}
#partTwoIC > .infoCard{
  min-width: 40%;
  max-width: 40%;
  //position: absolute;
  left: 0;
  width: 40%;
  margin: 0 5% 0 0;
  @media screen and (max-width: 644px){
    min-width: 90%;
    max-width: 90%;
    display: flex;
    padding-right: 5%;
    margin-right: 0;
    //margin: auto;
  }

  img {
    @media screen and (max-width: 664px){
      width: 45px;
    }
  }

}
#partTwoIC > .infoCard > p{
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  margin: 0 0 0 50px;
  text-align: justify;
  @media screen and (max-width: 864px){
    font-size: 0.9em;
    letter-spacing: none;
    margin: 0 0 0 25px;
  }
}
.division{
  height: 30vh;
  margin: 0 0 0 0;
  margin-right: 10%;
  border: 1px solid #bbb;
  @media screen and (max-width: 644px){
    display: none;
  }

}
#partTwoIC > .question{
  margin-left: 0 !important;
  min-width: 35%;
  max-width: 35%;
  //margin-left: 10%;
  //margin-right: 10%;
  padding: 30px 0;
  @media screen and (max-width: 644px){
    margin-top: 5vh;
    min-width: 80%;
    max-width: 80%;
    margin-left: 5%;
    padding: 20px;
  }
}

@keyframes enter{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
@-webkit-keyframes enter{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
@-moz-keyframes enter{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
@-o-keyframes enter{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}