@import '../../variables.scss';

#infoPresentation{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: 40% 20% 1fr 10% 1fr;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
.white{
  grid-column: 1/4;
  grid-row: 1/6;
  height: 100vh;
  width: 100%;
  background-color: #fff6;
  z-index: 1;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
.place{
  grid-column: 1/4;
  grid-row: 2;
  text-transform: uppercase;
  color: $black;
  //border-width: 10px 0;
  border-style: solid;
  border-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  //text-shadow: 1px 1px 10px $black;
  margin: 0;
  z-index: 2;
  @media screen and (max-height: 420px) and (max-width: 420px){
    //padding: 5vh 0;
    font-size: 1em;
    //border-width: 5px 0;
  }
  @media screen and (max-height: 615px) and (max-width: 625px) and (min-height: 421px) and (min-width: 421px){
    font-size: 2em;
  }
  @media screen and (max-width: 1139px) and (min-height: 616px){
    font-size: 3em;
  }
  @media screen and (min-width: 1140px) and (min-height: 616px){
    font-size: 5em;
  }
}

#weImage{
  grid-column: 1/4;
  grid-row: 1/6;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.fullPlace{
  font-size: 3em;
  margin: 40px 0 0 0;
  max-width: 100%;
  font-weight: 600;
  height: fit-content;
  text-align: center;
  @media screen and (max-width: 1080px){
    font-size: 2.5em;
  }
  @media screen and (max-width: 850px){
    font-size: 2em;
  }
  @media screen and (max-width: 700px){
    font-size: 1.5em;
  }
  @media screen and (max-width: 525px){
    font-size: 1.5em;
    margin-top: 40px;
    margin-left: 0;
  }
}
.aboutContainer{
  min-height: 100vh;
  margin: 0 10vw;
}
.descContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  @media screen and (max-width: 620px){
    justify-content: center;
  }
}
.descContainer > div {
  width: fit-content;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 45%;
  margin: 0;
  font-size: 1.2em;
  @media screen and (max-width: 1000px){
    max-width: 55%;
  }
  @media screen and (max-width: 850px){
    max-width: 60%;
  }
  @media screen and (max-width: 720px){
    max-width: 100%;
  }
}

.descContainer > .div-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.descContainer > div > p {
  width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  margin: 10px 0;
}
.descContainer > .div-logo > img{
  width: 60%;
  margin-left: 20%;
  @media screen and (max-width: 1000px){
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  @media screen and (max-width: 850px){
    margin-left: 5%;
  }
  @media screen and (max-width: 720px){
    margin-left: 0%;
    width: 90%;
  }
}
.weHaveServices{
  background: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10%;
  min-height: 100vh;
  @media screen and (max-width: 720px){
    flex-direction: column;
    padding: 40px 10%;
  }
}
.weHaveServices > p{
  margin: 0 0 -15% 0;
  text-align: center;
  width: 100%;
  color: $white;
  font-size: 2.4em;
  @media screen and (max-width: 720px){
    margin: 5px 0;
  }
  @media screen and (max-width: 600px){
    display: none;
  }
  @media screen and (min-width: 600px){
    display: block;
  }
}
.serviceItem{
  max-width: 25%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 788px){
    max-width: 30%;
  }
  @media screen and (max-width: 720px){
    max-width: 80%;
    margin: 10px 0;
  }
  @media screen and (max-width: 600px){
    max-width: 100%;
    margin: 10px 0;
  }
}
.serviceItem > p{
  color: $white;
  font-size: 1.2em;
  text-align: center;
  margin: 20px 0 0 0;
  @media screen and (max-width: 939px){
    font-size: 1.1em;
  }
  @media screen and (max-width: 862px){
    font-size: 1em;
  }
  @media screen and (max-width: 720px){
    font-size: 1.2em;
  }
}
.serviceItem > img{
  width: 70%;
  @media screen and (max-width: 720px){
    width: 40%;
  }
}

#weAre{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
}
.persons{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top:10vh;
  @media screen and (max-width: 664px){
    margin-top: 5vh;
  }
}
.persons > div > img{
  margin-bottom: 10px;
  width: 70%;
  @media screen and (max-width: 720px){
    width: 40%;
  }
}
.persons > div{
  max-width: 35%;
  @media screen and (max-width: 1155px){
    max-width: 40%;
  }
  @media screen and (max-width: 1012px){
    max-width: 45%;
  }
  @media screen and (max-width: 754px){
    max-width: 50%;
  }
  @media screen and (max-width: 720px){
    max-width: 100%;
  }
}
.persons > div > span{
  font-size: 1.2em;
  color: #000;
  font-weight: 600;
  @media screen and (max-width: 901px){
    font-size: 1.1em;
  }
  @media screen and (max-width: 827px){
    font-size: 1em;
  }
}
.weAreDesc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.weAreDesc > p{
  font-size: 1.3em;
  color: $full-black;
  text-align: center;
  font-weight: 600;
  width: 100%;
  margin: 20px 0;
}
.weAreDesc > p > span{
  color: $primary;
}
.weAreDesc > img{
  width: 15%;
  margin: 10px 5vw;
  @media screen and (max-width: 1100px){
    width: 20%;
  }
  @media screen and (max-width: 720px){
    width: 30%;
  }
  @media screen and (max-width: 600px){
    width: 30%;
  }
}

.extlink {
  text-decoration: none;
}

/*.extlink::after {
  content: '';
  width: 0;
  height: 2px;
  display: block;
  background: $primary;
  transition: width .3s;
}

.extlink:hover::after {
  width: 100%;
  transition: width .3s;
}*/

.extlink:hover {
  text-decoration: underline;
}

.extlink:visited {
  color: $primary;
}
