@keyframes toChangeH{
  from{
    top: -10vh;
  }to{
    top: 0vh;
  }
}
@keyframes toOriginalH{
  from{
    top: 100vh;
    opacity: 1;
    background-color: #fff;
  }to{
    top: 70vh;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes originalSizeLogo{
  from{
    height: 9vh;
  }to{
    height: 12vh;
  }
}
//Part of webkit
@-webkit-keyframes toChangeH{
  from{
    top: -10vh;
  }to{
    top: 0vh;
  }
}
@-webkit-keyframes toOriginalH{
  from{
    top: 100vh;
    opacity: 1;
    background-color: #fff;
  }to{
    top: 70vh;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes originalSizeLogo{
  from{
    height: 9vh;
  }to{
    height: 12vh;
  }
}
//Part of mozila
@-moz-keyframes toChangeH{
  from{
    top: -10vh;
  }to{
    top: 0vh;
  }
}
@-moz-keyframes toOriginalH{
  from{
    top: 100vh;
    opacity: 1;
    background-color: #fff;
  }to{
    top: 70vh;
    opacity: 0;
    background-color: transparent;
  }
}
@-moz-keyframes originalSizeLogo{
  from{
    height: 9vh;
  }to{
    height: 12vh;
  }
}
//Part of opera
@-o-keyframes toChangeH{
  from{
    top: -10vh;
  }to{
    top: 0vh;
  }
}
@-o-keyframes toOriginalH{
  from{
    top: 100vh;
    opacity: 1;
    background-color: #fff;
  }to{
    top: 70vh;
    opacity: 0;
    background-color: transparent;
  }
}
@-o-keyframes originalSizeLogo{
  from{
    height: 9vh;
  }to{
    height: 12vh;
  }
}