#head{
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 900;
}
#navbar{
  width: 50%;
  margin: 0 0 0 45%;
  height: 50px;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  z-index: 900;
  @media screen and (max-width: 720px){
    margin: 0 0 0 10%;
    width: 80%;
  }
}
hr{
  height: 100%;
  border: 1px solid #000;
}
.itemNav{
  font-size: 1.2em;
  font-family: 'Arial', sans-serif;
  color: #000;
  border-bottom: 2px solid #000f;
  transition-duration: 0.3s;
  font-weight: 600;
  @media screen and (max-width: 410px){
    font-size: 0.9em;
  }
  /*&:hover{
    border-bottom: 2px solid #ffff;
  }*/
}
.link{
  text-decoration: none;
}
