@import "../../../variables.scss";

#head{
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 900;
}
#headerLogo{
  position: absolute;
  top: 20px;
  left: 30px;
  height: 50px;
  margin: 0;
  @media screen and (max-width: 720px){
    display: none;
  }
}
#navbar{
  width: 50%;
  margin: 0 0 0 45%;
  height: 50px;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  z-index: 900;
  @media screen and (max-width: 720px){
    margin: 0 0 0 10%;
    width: 80%;
  }
}
hr{
  height: 50%;
  border: 1px solid $black;
}
.itemNav{
  font-size: 1.2em;
  font-family: 'Arial', sans-serif;
  color: $black;
  transition-duration: 0.5s ease;
  font-weight: 600;
  @media screen and (max-width: 410px){
    font-size: 0.9em;
  }
  &:hover{
    border-bottom: 3px solid $black;
  }
}
.link{
  text-decoration: none;
}

.header-mobile-container {
  display: none;
}

//HEADER MOBILE STYLES
@media screen and (max-width: 600px)
{
  .header-mobile-container {
    display: block;
  }

  #head {
    display: none;
  }
}

@media screen and (min-width: 600px)
{
  .header-mobile-container {
    display: none;
  }

  #head {
    display: block;
  }
}

.header-mobile-container {
  width: 100%;
}

.header-top {
  min-width: 100%;
  height: 10vh;
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

  .hamburger {
    width: 5vw;
    position: absolute;
    padding-left: 5vw;
    left:0;
  }
  .logo {
    height: 8vh;
    //align-self: flex-start;
    justify-self: center;
  }
}

.sidebar {
  width: 100%;
  z-index: 999;
  height: 100vh;
  //background-color: #fff;
  display: flex;
  position: fixed;
  top:0;
  left: -100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;

  .content {
    width: 75%;
    background-color: $white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    position: relative;
    .close-icon{
      width: 30px;
      height: 30px;
      fill: $primary;
      padding: 20px;
      position: absolute;
      top: 0;
      right: 0;
    }

    .logo-sidebar {
      width: 50%;
      padding: 5px;
      position: absolute;
      top: 0;
      left: calc(25 - 10px);
    }

    .options {
      width: 100%;
      height: 100%;
      //margin: 10vh 0 10vh 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
        background-color: $white;
        font-size: 2em;
        color: $primary;
        padding: 3vh 0;
        font-weight: 600;
        letter-spacing: 10px;
        margin: 2vh 0;
        //width: 100%;
        border-bottom: 1px solid $primary;
        //box-shadow: 0px 5px 15px rgba($color: $primary, $alpha: 0.25);
        //margin: 0;
      }
    }
  }

  .close {
    width: 25%;
    background-color: transparent;
  }
}

.sidebar.active {
  opacity: 1;
  left:0;
}
