@import "../../../variables.scss";
@import "./animations.scss";

#head{
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 900;
  height: 13vh;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 720px){
    justify-content: space-around;
  }
  @media screen and (max-width: 600px){
    display: none !important;
  }
}
.onChangeHeader{
  animation: toChangeH 0.5s;
  -webkit-animation: toChangeH 0.5s;
  -moz-animation: toChangeH 0.5s;
  -o-animation: toChangeH 0.5s;
}
.onOriginalHeader{
  animation: toOriginalH 0.5s;
  -webkit-animation: toOriginalH 0.5s;
  -moz-animation: toOriginalH 0.5s;
  -o-animation: toOriginalH 0.5s;
}
#headerLogo{
  height: 12vh;
  margin: 0 0 0 1vw;
  @media screen and (max-width: 720px){
    display: none;
  }
}
.originalLogo{
  animation: originalSizeLogo 1s;
  -webkit-animation: originalSizeLogo 1s;
  -moz-animation: originalSizeLogo 1s;
  -o-animation: originalSizeLogo 1s;
}
#navbar{
  width: 50%;
  margin: 0 5vw 0 0;
  height: 6.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  z-index: 900;
  @media screen and (max-width: 720px){
    width: 80%;
  }
}
hr{
  height: 50%;
  border: 1px solid $black;
}
.itemNav{
  font-size: 1.4em;
  color: $black;
  transition-duration: 0.5s ease;
  font-weight: 900;
  @media screen and (max-width: 410px){
    font-size: 0.9em;
  }
  &:hover{
    border-bottom: 3px solid $black;
  }
}
.link{
  text-decoration: none;
  @media screen and (max-width: 600px){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#specialNavLogo{
  @media screen and (max-width: 600px){
    width: fit-content;
  }
}

.header-mobile-container {
  display: none;
}

#anError{
  display: none;
  z-index: -100;
  background: $white;
  min-height: 10vh;
  @media screen and (max-width: 600px){
    position: fixed;
    display: block;
  }
}

//HEADER MOBILE STYLES
@media screen and (max-width: 600px)
{
  .header-mobile-container {
    display: block;
  }

  #head {
    display: none;
  }
}

@media screen and (min-width: 601px)
{
  .header-mobile-container {
    display: none;
  }

  #head {
    display: block;
  }
}

.header-mobile-container {
  width: 100%;
}

.header-top {
  min-width: 100%;
  height: 10vh;
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;

  .hamburger {
    width: 5vw;
    position: absolute;
    padding-left: 5vw;
    left:0;
  }
  .logo {
    height: 8vh;
    //align-self: flex-start;
    justify-self: center;
  }
}

.sidebar {
  width: 100%;
  z-index: 999;
  height: 100vh;
  //background-color: #fff;
  display: flex;
  position: fixed; 
  top:0;
  left: -100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  .content {
    min-height: 190px;
    width: 75%;
    background-color: $white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    position: relative;
    .close-icon{
      width: 30px;
      height: 30px;
      fill: $primary;
      padding: 20px;
      position: absolute;
      top: 0;
      right: 0;
    }

    .logo-sidebar {
      width: 50%;
      padding: 5px;
      position: absolute;
      top: 0;
      left: calc(25 - 10px);
      @media screen and (max-height: 420px){
        width: 40%;
      }
      @media screen and (max-height: 370px){
        width: 30%;
      }
      @media screen and (max-height: 240px){
        width: 20%;
      }
    }

    .options {
      width: 100%;
      height: 100%;
      //margin: 10vh 0 10vh 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
        background-color: $white;
        font-size: 1.5em;
        color: $primary;
        padding: 3vh 0;
        font-weight: 600;
        letter-spacing: 10px;
        margin: 2vh 0;
        width: 70%;
        border-bottom: 1px solid $primary;
        //box-shadow: 0px 5px 15px rgba($color: $primary, $alpha: 0.25);
        //margin: 0;
      }
    }
  }

  .close {
    width: 25%;
    background-color: transparent;
  }
}

.sidebar.active {
  opacity: 1;
  left:0;
}

