@import "../../../variables.scss";

::-webkit-scrollbar{
  width: 10px;
  background-color: #eee;
}
::-webkit-scrollbar-thumb{
  border-radius: 0px;
  background-color: #bbb;
}

#servicesPresentation{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: 40% 20% 1fr 10% 1fr;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
.white{
  grid-column: 1/4;
  grid-row: 1/6;
  height: 100vh;
  width: 100%;
  background-color: #fff6;
  z-index: 1;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
.place{
  grid-column: 1/4;
  grid-row: 2;
  text-transform: uppercase;
  color: $black;
  //border-width: 10px 0;
  border-style: solid;
  border-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  //text-shadow: 1px 1px 10px $black;
  margin: 0;
  z-index: 2;
  @media screen and (max-height: 420px) and (max-width: 420px){
    //padding: 5vh 0;
    font-size: 1em;
    //border-width: 5px 0;
  }
  @media screen and (max-height: 615px) and (max-width: 625px) and (min-height: 421px) and (min-width: 421px){
    font-size: 2em;
  }
  @media screen and (max-width: 1139px) and (min-height: 616px){
    font-size: 3em;
  }
  @media screen and (min-width: 1140px) and (min-height: 616px){
    font-size: 5em;
  }
}

#servicesImage{
  grid-column: 1/4;
  grid-row: 1/6;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.tramites-container {
    min-height: 100vh;
    z-index: -1;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    @media screen and (max-width: 600px){
      min-height: 641px;
      height: auto;
    }
    .--sidebar {
        min-width: 230px;
        min-height: 500px;
        height: 100%;
        grid-column: 1;
        grid-row: 1;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $primary;
        @media screen and (max-width: 600px){
          width: 100%;
          background: $white;
          min-height: 641px;
          grid-column: 1/3;
        }
        .options {
            min-height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            @media screen and (max-width: 600px){
              height: fit-content;
              justify-content: space-between;
              width: 100%;
            }
            .forMobile{
              min-height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              @media screen and (min-width: 601px){
                width: 100%;
              }
            }
            p {
                margin: 0;
                text-align: center;
                color: $white;
                font-size: 1.5em;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s ease-in-out;
                &:hover {
                    text-decoration: underline;
                    @media screen and (max-width:600px){
                      text-decoration: none;
                    }
                }
            }
        }
    }
}

#bluepart:not(:active) ~ #divTramitesContainer{
  animation: enter 0.5s;
  -webkit-animation: enter 0.5s;
  -moz-animation: enter 0.5s;
  -o-animation: enter 0.5s;
}
.forDesktop:not(:active){
  animation: change 0.5s;
  -webkit-animation: change 0.5s;
  -moz-animation: change 0.5s;
  -o-animation: change 0.5s;
}
.inDesktop{
  width: 100%;
  height: 100%;
  cursor: pointer;
  p{
    width: 100%;
    height: 100%;
  }
}

.forMobile > .inDesktop{
  min-height: 80px;
}
.inDesktop > p {
  min-height: 80px;
}
.sendMessageContact{
  max-width: 25%;
  max-height: 130px;
  margin: 10px;
  color: $white !important;
  text-decoration: none !important;
  @media screen and (max-width: 805px){
    max-width: 35%;
  }
}
.sendMessageContactMobile{
  min-height: 120px;
  max-height: 120px;
  width: 80%;
  margin: 10px;
  color: $white !important;
  text-decoration: none !important;
  display: none;

  @media screen and (max-width: 600px){
    display: block;
  }
}
#divTramitesContainer{
  @media screen and (max-width: 600px){
    display: none;
  }
  margin: 10px 0;
  grid-column: 2;
  grid-row: 1;
  min-height: 500px;
  width: 80%;
  height: fit-content;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  //padding: 0 10%;
  border: 0.5px solid #0003;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 4px 0 #000;
  -moz-box-shadow: 3px 3px 4px 0 #000;
  -o-box-shadow: 3px 3px 4px 0 #000;
  box-shadow: 3px 3px 4px 0 #0009;
  @media screen and (max-width: 1170px){
    left: 20.5vw;
  }
  @media screen and (max-width: 905px){
    width: 65vw;
    left: 25vw;
  }
  @media screen and (max-width: 750px){
    width: 60vw;
    left: 34vw;
  }
  /*&:not(:active){
    animation: enter 2s ease-in-out;
  }*/
  span{
    width: 100%;
    font-size: 2.2em;
    text-align: center;
    color: #000;
    font-weight: 600;
    margin: 15px 10% 0 10%;
  }
  .tramiteCard{
    max-width: 100%;
    max-height: 130px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 2.5px 2.5px 0 0 #0009;
    -moz-box-shadow: 2.5px 2.5px 0 0 #0009;
    -o-box-shadow: 2.5px 2.5px 0 0 #0009;
    box-shadow: 2.5px 2.5px 0 0 #0009;
    @media screen and (max-width: 636px){
      p{
        font-size: 0.9em !important;
      }
    }
    img{
      width: 100%;
      height: 80px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    p{
      width: 100%;
      height: 50px;
      margin: 0;
      text-align: center;
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: $white;
      font-size: 1em;
      font-weight: 300;
    }
  }
}
.otro{
  display: none !important;

}
.arrowClose{
  animation: toBottomAnimate 0.3s;
  -webkit-animation: toBottomAnimate 0.3s;
  -moz-animation: toBottomAnimate 0.3s;
  -o-animation: toBottomAnimate 0.3s;
  @keyframes toBottomAnimate {
    from{
      transform: rotate(180deg);
    }to{
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes toBottomAnimate {
    from{
      transform: rotate(180deg);
    }to{
      transform: rotate(0deg);
    }
  }
  @-moz-keyframes toBottomAnimate {
    from{
      transform: rotate(180deg);
    }to{
      transform: rotate(0deg);
    }
  }
  @-o-keyframes toBottomAnimate {
    from{
      transform: rotate(180deg);
    }to{
      transform: rotate(0deg);
    }
  }
}
.arrowOpen{
  animation: toTopAnimate 0.3s;
  -webkit-animation: toTopAnimate 0.3s;
  -moz-animation: toTopAnimate 0.3s;
  -o-animation: toTopAnimate 0.3s;
  @keyframes toTopAnimate {
    from{
      transform: rotate(-180deg);
    }to{
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes toTopAnimate {
    from{
      transform: rotate(-180deg);
    }to{
      transform: rotate(0deg);
    }
  }
  @-moz-keyframes toTopAnimate {
    from{
      transform: rotate(-180deg);
    }to{
      transform: rotate(0deg);
    }
  }
  @-o-keyframes toTopAnimate {
    from{
      transform: rotate(-180deg);
    }to{
      transform: rotate(0deg);
    }
  }
}
.mobileOpenServices{
  animation: openAnimate 0.5s;
  -webkit-animation: openAnimate 0.5s;
  -moz-animation: openAnimate 0.5s;
  -o-animation: openAnimate 0.5s;
  @keyframes openAnimate {
    from{
      min-height: 0;
      max-height: 0;
    }to{
      min-height: 250px;
      max-height: 250px;
    }
  }
  @-webkit-keyframes openAnimate {
    from{
      min-height: 0;
      max-height: 0;
    }to{
      min-height: 250px;
      max-height: 250px;
    }
  }
  @-moz-keyframes openAnimate {
    from{
      min-height: 0;
      max-height: 0;
    }to{
      min-height: 250px;
      max-height: 250px;
    }
  }
  @-o-keyframes openAnimate {
    from{
      min-height: 0;
      max-height: 0;
    }to{
      min-height: 250px;
      max-height: 250px;
    }
  }
}
.mobileCloseServices{
  animation: closeAnimate 0.5s;
  -webkit-animation: closeAnimate 0.5s;
  -moz-animation: closeAnimate 0.5s;
  -o-animation: closeAnimate 0.5s;
  @keyframes closeAnimate {
    from{
      min-height: 250px;
      max-height: 250px;
    }to{
      min-height: 0;
      max-height: 0;
    }
  }
  @-webkit-keyframes closeAnimate {
    from{
      min-height: 250px;
      max-height: 250px;
    }to{
      min-height: 0;
      max-height: 0;
    }
  }
  @-moz-keyframes closeAnimate {
    from{
      min-height: 250px;
      max-height: 250px;
    }to{
      min-height: 0;
      max-height: 0;
    }
  }
  @-o-keyframes closeAnimate {
    from{
      min-height: 250px;
      max-height: 250px;
    }to{
      min-height: 0;
      max-height: 0;
    }
  }
}
#Testamento{
  @media screen and (max-width: 600px){
    justify-content: center;
  }
} 
.forMobile{
  img{
    display: none;
  }
  @media screen and (max-width: 600px){
    background-color: #fff;
    width: 75%;
    border: 0.5px solid #bbb;
    -webkit-box-shadow: 1.5px 1.5px 1.5px 1px #0009;
    -moz-box-shadow: 1.5px 1.5px 1.5px 1px #0009;
    -o-box-shadow: 1.5px 1.5px 1.5px 1px #0009;
    box-shadow: 1.5px 1.5px 1.5px 1px #0009;
    min-height: 100px;
    height: fit-content;
    margin: 10px 0;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titleService{
      color: #000 !important;
      height: 100px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
      font-size: 1.3em !important;
      margin-right: 1% !important;
    }
    .downArrow{
      display: block;
      position: absolute;
      right: 3%;
      top: 35px;
      height: 30px;
    }
    .servicesMobile{
      min-height: 250px;
      max-height: 250px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0 1px 10px 0;
      width: 100%;
      display: none;
      border-top: 3px solid $primary;
      &:-webkit-scrollbar{
        width: 10px;
        background-color: #eee;
      }
      &:-webkit-scrollbar-thumb{
        border-radius: 0px;
        background-color: #bbb;
      }
      &:-webkit-scrollbar-track-piece{
        background-color: #fff;
      }
      .otro{
        display: flex !important;
        min-height: 120px;
        width: 100%;
        max-height: 120px;
        margin: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        -webkit-box-shadow: 2.5px 2.5px 0 0 #0009;
        -moz-box-shadow: 2.5px 2.5px 0 0 #0009;
        -o-box-shadow: 2.5px 2.5px 0 0 #0009;
        box-shadow: 2.5px 2.5px 0 0 #0009;
        img{
          display: block;
          width: 100%;
          height: 80px;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        p{
          width: 100%;
          height: 40px;
          margin: 0;
          text-align: center;
          background-color: $primary;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          color: $white;
          font-size: 1em !important;
          font-weight: 300;
        }
      }
    }
  }
}

.forMobile > div{
  @media screen and (max-width: 600px){
    min-height: 100px;
    width: 100%;
  }
}

@keyframes enter{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
@keyframes change{
  from{
    background-color: $primary;
  }to{
    background-color: #006;
  }
}

@-webkit-keyframes enter{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
@-webkit-keyframes change{
  from{
    background-color: $primary;
  }to{
    background-color: #006;
  }
}

@-moz-keyframes enter{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
@-moz-keyframes change{
  from{
    background-color: $primary;
  }to{
    background-color: #006;
  }
}

@-o-keyframes enter{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
@-o-keyframes change{
  from{
    background-color: $primary;
  }to{
    background-color: #006;
  }
}