@import '../../variables.scss';

#contactPresentation{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: 40% 20% 1fr 10% 1fr;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
.white{
  grid-column: 1/4;
  grid-row: 1/6;
  height: 100vh;
  width: 100%;
  background-color: #fff6;
  z-index: 1;
  @media screen and (max-width: 600px) {
    height: 90vh;
  }
}
.place{
  grid-column: 1/4;
  grid-row: 2;
  text-transform: uppercase;
  color: $black;
  //border-width: 10px 0;
  border-style: solid;
  border-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  //text-shadow: 1px 1px 10px $black;
  margin: 0;
  z-index: 2;
  @media screen and (max-height: 420px) and (max-width: 420px){
    //padding: 5vh 0;
    font-size: 1em;
    //border-width: 5px 0;
  }
  @media screen and (max-height: 615px) and (max-width: 625px) and (min-height: 421px) and (min-width: 421px){
    font-size: 2em;
  }
  @media screen and (max-width: 1139px) and (min-height: 616px){
    font-size: 3em;
  }
  @media screen and (min-width: 1140px) and (min-height: 616px){
    font-size: 5em;
  }
}

#contactImage{
  grid-column: 1/4;
  grid-row: 1/6;
  width: 100%;
  object-fit: cover;
  height: 100%;
}


.formPart {
  height: 100vh;
  min-height: 550px;
  display: grid;
  grid-template-columns: 10% 5% 70% 5% 10%;
  grid-template-rows: 10% 5% 70% 5% 5% 5%;
  margin:  0 10%;
  @media screen and (max-width: 870px){
    grid-template-columns: 5% 10% 70% 10% 5%;
  }
  @media screen and (max-width: 720px){
    height: 200vh;
    grid-template-rows: 5% 10% 70% 5% 5% 5%;
  }
}
.box{
  width: 100%;
  height: 100%;
}
#blueBox{
  background-color: $white;
  grid-column: 2/4;
  grid-row: 2/5;
  border: 0.5px solid #0006;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
  -o-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 1.5px 1.5px 1px 1.5px rgba(0,0,0,0.4);
  box-shadow: 1.5px 1.5px 1px 1.5px rgba(0,0,0,0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 410px;
  @media screen and (min-width: 870px){

  }
}
#whiteShadow{
  width: 98%;
  background-color: $primary;
  grid-column: 3/5;
  grid-row: 3/6;
  border: 0.5px solid #bbb;
  -webkit-box-shadow: 3px 3px 5px 3px #bbb;
  -o-box-shadow: 3px 3px 5px 3px #bbb;
  -moz-box-shadow: 3px 3px 5px 3px #bbb;
  box-shadow: 3px 3px 5px 3px #bbb;
  @media screen and (max-width: 720px){
    grid-row: 2/6;
    margin-top: 5%;
    height: 95%;
    width: 95%;
  }
}

#blueBox > p{
  color: $full-black;
  font-size: 2em;
  padding: 2% 10%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media screen and (max-width: 720px){
    font-size: 1.7em;
  }
  @media screen and (max-width: 610px){
    font-size: 1.5em;
  }
  @media screen and (max-width: 531px){
    font-size: 1.3em;
  }
}
.formContent{
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 720px){
    height: 60%;
  }
}
.characteristicsClient{
  width: 30%;
  height: 20%;
  min-height: 30px;
  background-color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 0;
  border-radius: 7px;
  -webkit-box-shadow: 1.5px 1.5px 1.5px 1.5px #0008;
  -o-box-shadow: 1.5px 1.5px 1.5px 1.5px #0008;
  -moz-box-shadow: 1.5px 1.5px 1.5px 1.5px #0008;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #0008;

  @media screen and (max-width: 720px){
    width: 90%;
    height: 10%;
  }
}
.characteristicsClient > img{
  height: 90%;
  width: 10%;
  max-height: 35px;
}
.characteristicsClient > input{
  font-size: 1em;
  font-family: 'Avenir';
  background-color: $white;
  border: none;
  width: 70%;
  &:focus{
    outline-color: #fff;
    outline-style: auto;
    outline-width: 0;
  }
}
.formContent > #contentTextArea{
  min-height: 100%;
  min-width: 35%;
  max-height: 100%;
  max-width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
  border: 1.5px solid #fff;
  -webkit-box-shadow: 1.5px 1.5px 1.5px 1.5px #0008;
  -o-box-shadow: 1.5px 1.5px 1.5px 1.5px #0008;
  -moz-box-shadow: 1.5px 1.5px 1.5px 1.5px #0008;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #0008;
  @media screen and (max-width: 720px){
    min-height: 50%;
    min-width: 90%;
    max-height: 50%;
    max-width: 90%;
  }
}
#contentTextArea > textarea{
  font-family: 'Avenir';
    &:invalid{
      width: 80%;
      height: 20%;
      border: none;
      border-radius: 7px;
      transition-duration: 0.3s;
      outline:none;
      resize: none;
      font-size: 1.2em;
      overflow: hidden;
      font-weight: 600;
      @media screen and (max-width: 1311px){
        height: 30%;
      }
      @media screen and (max-width: 775px) and (min-width: 721px){
        min-height: 80px;
      }
      @media screen and (max-width: 720px){
        height: 15%;
      }
      @media screen and (max-width: 484px){
        height: 20%;
      }
      @media screen and (max-height: 630px){
        min-height: 45px;
      }
      @media screen and (max-height: 630px) and (max-width: 1311px){
       min-height: 65px;
      }
      @media screen and (max-width: 908px) and (min-width: 721px){
        font-size: 1em;
      }
      @media screen and (max-width: 720px) and (max-height:530px){
        min-height: 45px;
      }
      @media screen and (max-width: 484px) and (max-height: 610px){
        min-height: 67px;
      }
    }
    &:valid{
      height: 95%;
      width: 98%;
      outline:none;
      border-radius: 7px;
      border:none;
      transition-duration: 0.3s;
      resize: none;
      font-size: 1em;
    }
}
::-webkit-input-placeholder {
 text-align: center;
 font-weight: 600;
 font-family: "Avenir";
}

:-moz-placeholder { /* Firefox 18- */
 text-align: center;
 font-weight: 600;
 font-family: "Avenir";
}

::-moz-placeholder {  /* Firefox 19+ */
 text-align: center;
 font-weight: 600;
 font-family: "Avenir";
}

:-ms-input-placeholder {
 text-align: center;
 font-weight: 600;
 font-family: "Avenir";
}
#blueBox > button{
  min-width: 20%;
  padding: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  background-color: $full-black;
  color: $white;
  border-radius: 50px;
  border: none;
  @media screen and (max-width: 720px){
    min-width: 90%;
  }
  cursor: pointer;
}
