@import "../../../variables.scss";

#footer, #footer-mobile{
  background-color: $black;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer-mobile {
  flex-direction: column;
  z-index: 1000000;
}
#footer > span, #footer-mobile > span{
  font-size: 1em;
  font-weight: 400;
  color: $white;
  text-align: center;
  width: 30%;
}
#footer-mobile > span{
  width: 100%;
  padding: 5px 0;
}
#footer > span > a, #footer-mobile > span > a{
  color: $white;
  text-align: center;
}
#privacityAdvice > a{
  font-size: 1.1em;
  font-weight: 600;
}

@media screen and (max-width: 600px){
  #footer{
    display: none;
  }
  #footer-mobile{
    display: flex;
  }
}

@media screen and (min-width: 601px){
  #footer{
    display: flex;
  }
  #footer-mobile{
    display: none;
  }
}
